<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		{{{body}}}
		<script src="/javascripts/jquery-2.1.3.min.js"></script>
	</body>
</html>
