<h3>{{user.username}}</h3>
<h4>New release providers</h4>

<label>Username</label>
<input type="text" name="lastfm.username" value="{{user.providers.lastfm.username}}">
<label>API Key</label>
<input type="text" name="lastfm.apikey" value="{{user.providers.lastfm.apikey}}">
