<div class="sixteen wide column">
  <h2>Notifications</h2>

  <div class="ui cards">

    <div class="card" ng-repeat="notification in notifications">
      <a class="image" target="_blank" href="https://play.google.com/music/listen#/sr/{{notification.artist.name | escape}}+{{notification.name | escape}}">
        <img ng-src="{{notification.image[3]['#text']}}">
      </a>
      <div class="content">
        <a class="header">{{notification.name}}</a>
        <div class="meta">
          <a target="_blank" href="https://play.google.com/music/listen#/sr/{{notification.artist.name | escape}}+{{notification.name | escape}}">{{notification.artist.name}}</a>
        </div>
        <div class="description">
          {{notification.date}}
        </div>
      </div>
    </div>

  </div>

</div>
